* {
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Rajdhani', sans-serif;

}

header {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    background-color: #b0aac0 ;
    padding-bottom: 10px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
}

div .add-and-filter  {
    display: block;    
}

#new-bookmark {
    background-color: #f0efef;
    border: 1px solid white;
    color: rgb(114, 114, 114);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 2px;
    text-align: center;
    width: 130px;
    padding: 1px 5px;
    text-transform: uppercase;
    margin-top: 0px;
}

#new-bookmark:hover {
    background-color: #ddeedd
}

#filter-by-rating {
    background-color: #f0efef;
    border: 1px solid white;
    color: rgb(114, 114, 114);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 2px;
    text-align: center;
    width: 130px;
    padding: 1px 5px;
    text-transform: uppercase;
}

#filter-by-rating:hover {
    background-color: #ddeedd
}


.addBookmark-form-section {
    text-align: left;
    display: none;
    width: 70%;
    border: 2px solid white;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    color: rgb(114, 114, 114); 
    font-weight: normal;
    background-color: #f0efef;
}

input[type=text],
input[type=url] {
    width: 100%;
    padding:5px 15px;
    margin: 0 0 15px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 4px;
    background-color: #c2d4dd;
  }

button[type=submit] {
    width: 25%;
    background-color: #667292;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
}

button[type=submit]:hover {
    background-color: #5b9aa0;
  }

#rating-input {
    transform: translate(-50%, -5%) rotateY(180deg);
    display: flex;
    position: relative;
    left: 0%;
}
#rating-input input {
    display: none;
}
#rating-input label {
    display: block;
    cursor: pointer;
    width: 18px;
    background: #ccc;
} 

#rating-input label:before {
    background-color: #f0efef;
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 18px;
    color: #c2d4dd;
}

#rating-input label:after {
    content: '\f005';
    font-family: fontAwesome;
    display: block;
    font-size: 18px;
    color: #feb236;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
    position: fixed;
    top: 0;
}

#rating-input label:hover:after,
#rating-input label:hover ~ label:after,
#rating-input input:checked ~ label:after {
    opacity: 1;
}

fieldset{
    border:none;
    box-shadow: none;
  }

.bookmarkList-section {
    background-color: #c2d4dd;
    width:98%;
    /* padding-top: 10px; */
    margin-left: auto;
    margin-right: auto;
}
.bookmarkList-section ul {
    margin-top: 10px;
    list-style: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100%;
}
.condense {
    margin-top: 10px;
    background-color: #667292;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    
}

.condense:hover {
  background-color: #555;
}

.bookmark-list-element {
  margin-bottom: 10px;
}

.ratingStar {
    float: right 
}
.expand {
    padding: 0 10px;
    overflow: hidden;
    background-color: #f0efef;
    border: 4px solid white;
    margin: 5px 0;
    
}


.delete {
    float: right;
    width: 30px;
    background-color: #667292;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.delete:hover {
    background-color: #c54263;
}

.visit-site {
      color: #ec66c4;
}


@media (min-width: 768px) {

    header {
        padding-top: 5px;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        color: #f0efef;
        font-family: 'Rajdhani', sans-serif;
        background-color: #b0aac0 ;
        padding-bottom: 25px;
        width:98%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-controls {
        text-align: center;
    }
    
    div .add-and-filter  {
        display: inline-block;    
    }
    
    #new-bookmark {
        background-color: #f0efef;
        border: 3px solid white;
        color: rgb(114, 114, 114);
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        padding: 0 2px;
        height: 40px;
        letter-spacing: 2px;
        text-align: center;
        width: 180px;
        text-transform: uppercase;
        margin-right:300px;
    }
    
    #new-bookmark:hover {
        background-color: #ddeedd
    }
    
    #filter-by-rating {
        background-color: #f0efef;
        border: 3px solid white;
        color: rgb(114, 114, 114);
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        height: 40px;
        letter-spacing: 2px;
        padding: 0 20px;
        text-align: center;
        width:180px;
        text-transform: uppercase;
    }
    
    #filter-by-rating:hover {
        background-color: #ddeedd
    }
    
    .addBookmark-form-section {
        text-align: left;
        display: none;
        width: 50%;
        border: 4px solid white;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        font-size: 17px;
        color: rgb(114, 114, 114); 
        font-weight: normal;
        background-color: #f0efef;
    }
    
    input[type=text],
    input[type=url] {
        width: 100%;
        padding: 12px 20px;
        margin: 0 0 15px;
        display: inline-block;
        border: 3px solid white;
        border-radius: 4px;
        background-color: #c2d4dd;
      }
    
    button[type=submit] {
        width: 25%;
        background-color: #667292;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
    }
    
    button[type=submit]:hover {
        background-color: #5b9aa0;
      }
    
    #rating-input {
        transform: translate(-50%, -5%) rotateY(180deg);
        display: flex;
        position: relative;
        left: 0%;
    }
    #rating-input input {
        display: none;
    }
    #rating-input label {
        display: block;
        cursor: pointer;
        width: 30px;
        background: #ccc;
    } 
    
    #rating-input label:before {
        background-color: #f0efef;
        content: '\f005';
        font-family: fontAwesome;
        position: relative;
        display: block;
        font-size: 30px;
        color: #c2d4dd;
    }
    
    #rating-input label:after {
        content: '\f005';
        font-family: fontAwesome;
        display: block;
        font-size: 30px;
        color: #feb236;
        opacity: 0;
        transition: .5s;
        text-shadow: 0 2px 5px rgba(0,0,0,.5);
        position: fixed;
        top: 0;
    }
    
    #rating-input label:hover:after,
    #rating-input label:hover ~ label:after,
    #rating-input input:checked ~ label:after {
        opacity: 1;
    }
    
    fieldset{
        border:none;
        box-shadow: none;
      }
    
    .bookmarkList-section {
        background-color: #c2d4dd;
        width:98%;
        /* padding-top: 10px; */
        margin-left: auto;
        margin-right: auto;
    }
    .bookmarkList-section ul {
        margin-top: 10px;
        list-style: none;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100%;
    }
    .condense {
        margin-top: 10px;
        background-color: #667292;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        
    }
    
    .condense:hover {
      background-color: #555;
    }
    
    .bookmark-list-element {
      margin-bottom: 10px;
    }
    
    .ratingStar {
        float: right; 
    }
    .expand {
        font-size: 18px;
        padding: 0 18px;
        overflow: hidden;
        background-color: #f0efef;
        border: 4px solid white;
        margin: 5px 0;
        
    }
    
    
    .delete {
        float: right;
        width: 30px;
        background-color: #667292;
        color: white;
        padding: 5px 5px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
    }
    
    .delete:hover {
        background-color: #c54263;
    }
    
    .visit-site {
          color: #ec66c4;
    }
}


